<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title>Comments</title>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon (2).ico" />
            <link rel="stylesheet" type="text/css"href="../../styles/comments.css">
    </head>
    <body>

    <div class="post-container">
        <h3><%= post.text.substring(0, 200) %></h3>
    </div>
    <hr>
        <% if(currentUser){ %>
            <div class="add-comment">
                <img src="<%= currentUser.image %>">
                    <input class="comment-input" type="text" name="comment[text]" autocomplete="off" placeholder="add a public comment">
                    <span id="data" style="opacity: 0;"><%= post._id %></span>
            </div>
        <% } %>
        <div id="comments">
            <!-- Comments will load here -->
        </div>
        <button class="loadmore-btn hidden">Load More</button>
        <div class="loadmore_loader"></div>
        <script>
            const GlobalpostId = "<%- post._id %>" 
            var GlobalcurrentUserId;
        </script>
        <% if(currentUser){ %>
            <script>
                GlobalcurrentUserId = "<%- currentUser._id %>"
            </script>
        <% } %>
        <script src="/js/framework.js"></script>
        <script src="/js/comments.js"></script>
    </body>
</html>

