<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title>Comments</title>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon (2).ico" />
            <link rel="stylesheet" type="text/css"href="../../styles/comments.css">
    </head>
    <body>

    <div class="post-container">
        <h3><%= post.text.substring(0, 200) %></h3>
    </div>
    <hr>
        <% if(currentUser){ %>
            <div class="add-comment">
                <img src="<%= currentUser.image %>">
                    <input class="comment-input" type="text" name="comment[text]" required placeholder="add a public comment">
                    <span id="data" style="opacity: 0;"><%= post._id %></span>
            </div>
        <% } %>

        <div id="comments">
            <% post.comments.forEach(function(comment){ %>
                <% if(currentUser && currentUser._id.equals(comment.owner.id)){ %>
                    <div class="comment owner">
                <% }else{ %>
                    <div class="comment">
                <% } %>
                    <strong><a href="/user/<%= comment.owner.id %>"><%= comment.owner.username %></a></strong>
                    <span><%= moment(comment.created).startOf('second').fromNow() %></span>
                    <div class="comment-body">
                        <p><%= comment.text %></p>
                    </div>
                </div>
            <% }) %>
        </div>
        
        <script src="/js/framework.js"></script>
        <script src="/js/comments.js"></script>
    </body>
</html>

