<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title><%= user.username %></title>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon (2).ico" />
        <link rel="stylesheet" type="text/css"href="/fontawesome-free/css/all.css">
        <link rel="stylesheet" type="text/css"href="../styles/profile.css">
        <link rel="stylesheet" type="text/css"href="../styles/navbar.css">
    </head>
    <body>
        <% include ../partials/navbar %>
        <div class="container">
            <header>
              <% if(currentUser && currentUser._id.equals(user._id)){ %>
                <aside class="e-p-icon"><a href="/user/<%= user._id %>/edit"><i class="fas fa-cog one"></i></a></aside>
              <% }; %>
              <div class="user-image-and-name">
                  <div class="image-space-filler">
                    <div class="image-container">
                      <img src="<%= user.image %>">
                    </div>
                  </div>
                  <div class="user-info">
                    <div class="follow_status">
                      <div class="add-friend">
                        <p>
                          <a href="/user/<%= user._id %>/followers">
                            <%= user.followers.length %>
                            followers
                          </a>
                          <a href="/user/<%= user._id %>/following">
                            <%= user.following.length %>
                            following
                          </a>
                        </p>
                        <% if(currentUser && !currentUser._id.equals(user._id)){ %>
                          <% if(user.followers.indexOf(currentUser._id) === -1){ %>
                            <form action="/user/<%= user._id %>/follow" method="post">
                              <button>
                                <i class="fas fa-user-friends"></i>
                              </button>
                            </form>
                            <% }else{ %>
                              <form action="/user/<%= user._id %>/unfollow" method="post">
                                <button class="active">
                                  <i class="fas fa-user-friends"></i>
                                </button>
                              </form>
                              <% } %>
                              <% } %>
                            </div>
                          </div>
                          <h1><%= user.username %></h1>
                          <h4><em><%= user.firstName %> <%= user.lastName %></em></h4>
                        </div>
              </div>
                <div class="other-info">
                  <% if(user.bio){ %>
                    <p><%= user.bio.substring(0, 1000) %></p>
                    <% } %>
                </div>
            </header>
            <% if(currentUser && currentUser._id.equals(user._id)){ %>
            <div id="form-container">
                <div id="exit">x</div>
                <div class="form">
                    <form id="new-post-form" action="/user/<%= user._id %>/post" method="post" enctype="multipart/form-data">
                      <input class="image-input" type="file" id="image-input" name="image" required accept="image/*">
                      <img src="/images/post-placeholder.png" class="img">
                      <div class="image-input-button image-input-status-text">Image</div>
                        <textarea name="post[text]" required placeholder="Text"></textarea>
                        <button>Post</button>
                    </form>
                    <div id="loader-container">
                      <div id="loader">Uploading...</div>
                    </div>
                  </div>
                </div>
            </div>
            <div id="new-post-btn">New Post</div>
            <% }; %>
            <div id="posts">
                <% user.posts.forEach(function(post){ %>
                    <div class="post">
                      <% if(currentUser && currentUser._id.equals(user._id)){ %>
                        <div id="options">
                            <button id="button"><a href="/post/<%= post._id %>/edit"><i class="fas fa-cog one"></i></a></button>
                        </div>
                      <% } %>
                        <div class="post-image-container">
                            <img class="post-image" src="<%= post.image %>">
                        </div>
                        <a href="/post/<%= post._id %>/comments">
                            <aside class="comments">
                                <strong><i class="far fa-comment"></i> <%= post.comments.length %></strong>
                            </aside>
                        </a>
                        <h3><em><%= post.owner.username %></em></h3>
                        <h5 class="created"><%= post.created.toDateString() %></h5>
                          <p><%= post.text.substring(0, 290) %>
                                      <% if(true){ %>
                                          ...
                                          <a href="/user/<%= user._id %>/post/<%= post._id %>">
                                              read more
                                          </a>
                                      <% } %>
                           </p>
                    </div>
                <% }); %>
            </div>
        </div>
    <script type="text/javascript" src="/js/profile.js"></script>
    </body>
</html>
