<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title>The Color Green</title>
        <link rel="stylesheet" type="text/css"href="/fontawesome-free/css/all.css">
        <link rel="stylesheet" type="text/css"href="../styles/loader.css">
        <link rel="stylesheet" type="text/css"href="../styles/navbar.css">
        <link rel="stylesheet" type="text/css"href="../styles/users.css">
        <link rel="shortcut icon" type="image/x-icon" href="images\favicon (2).ico" />
    </head>
        <body>
    <div id="loader-container">
      <div id="load">
          <div class="inner-loader">
            <div class="inner-loader">
              <div class="inner-loader">
                <div class="inner-loader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div id="container" class="container">
            <% include ../partials/navbar %>
            <form class="search" action="/users" method="get">
                <input type="text" name="search" autocomplete="off" placeholder="Search users">
            </form>
            <% if(user.length < 1){ %>
                <p class="no-user-error-msg">A user with the given username was not found <i>:(</i></p>
            <% } %>
            <% user.forEach(function(user){ %>
                <a href="user/<%= user._id %>">
                  <div class="user">
                      <div class="profile-img">
                          <img src="<%= user.image %>">
                      </div>
                      <div class="name">
                        <h1><a href="user/<%= user._id %>"><%= user.username %></h1>
                        <p>
                          <em>
                            <%= user.firstName %> <%= user.lastName %>
                          </em>
                        </p>
                      </div>
                  </div>
                </a>

            <% }); %>

        </div>

<script type="text/javascript" src="../js/loader.js"></script>
        </body>
</html>
